.edit_form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#title, #tags {
  color: white;
  border: none;
  background-color: inherit;
  transition: none;
  border-radius: 0;

  &:focus {
    outline: none;
    background-color: inherit;
  }
}

#title {
  font-size: 6rem;
  padding-left: 15px;
  margin-bottom: 20px;

  @media screen and (max-width: 900px) {
    font-size: 3rem;
  }


  &:empty:before {
    content: 'Enter title';
    color: #6c757d
  }
}

#tags {
  margin-top: 50px;
  font-size: 2.3rem;
  color: black;

  @media screen and (max-width: 900px) {
    font-size: 1.5rem;
  }

}

#description {
  font-size: 4rem;
  color: white;
  font-family: inherit;
  padding: 0 15px;
  border: none;
  outline: none;
  background-color: inherit;
  transition: none;
  border-radius: 0;
  height: 100%;

  @media screen and (max-width: 900px) {
    font-size: 2rem;
  }

  &:focus {
    color: white;
    border: none;
    background-color: inherit;
  }

  &:empty:before {
    content: 'Enter description';
    color: #6c757d
  }
}

#title, #description {
  &:hover {
    cursor: text;
  }
}

.custom-error-message {
  color: #ff6565;
  font-size: 2.3rem;
  margin: 10px 10px;
}