$scale_transition_duration: 100ms;

.icons {
  position: absolute;
  top: 5px;
  right: 5px;

  .icon {
    transition-duration: $scale_transition_duration;

    &:hover {
      transform: scale(1.4);
    }
  }
}

.container {
  transition-duration: $scale_transition_duration;

  &:hover {
    transform: scale(1.05);

    .view_icon {
      opacity: 0.7;
    }

    .icons {
      opacity: 1;
    }
  }

  h1 {
    max-width: 700px;
  }

  p {
    max-width: 700px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }

  .view_icon {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(calc(-50% + 105px), -50%);
    transition: opacity 1000ms;
    z-index: 10;
    opacity: 0;
  }

  .animated_icons {
    @extend .icons;
    opacity: 0;
    transition: opacity 500ms;
  }
}

.basic_container {
  min-height: 200px;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  padding: 10px;
  min-width: 400px;
  width: 100%;


  h1 {
    color: white;
    font-size: 4rem;
    margin-left: 40px;
    padding-right: 150px;
  }

  p {
    font-size: 3rem;
    height: available;
    color: white;
    font-family: inherit;
    margin: 0 10px;
  }

  h2 {
    font-size: 1.8rem;
    margin-top: auto;
  }

}

.view_container {
  @extend .basic_container;

  h1 {
    font-size: 6rem;
  }

  p {
    font-size: 4rem;
  }

  h2 {
    margin-top: 50px;
    font-size: 2.3rem;
  }
}

.purple {
  background-color: #7714FC;
}

.pink {
  background-color: #F896D8;
}

.lilac {
  background-color: #CA7DF9;
}

.orange {
  background-color: #F28913;
}

.dark_purple {
  background-color: #564592;
}

.light_orange {
  background-color: #fbc304;
}
