$main_background: #131722;

.main__container {
  min-height: 100vh;
  background-color: $main_background;
  padding: 10px;
  display: flex;
  flex-direction: column;

  h1 {
    margin: 15px 10px 30px;
    font-size: 7rem;
    color: white;
  }

  #notes_container {
    padding: 30px 10px;
  }

  .notes_row {
    width: 100%;
  }

  .column {
    display: flex;
    justify-content: center;
    margin: 20px 10px;
    height: auto;
  }

}

.btn {
  background-color: black;
  width: 260px;
}

#search_form {
  margin: 0 auto;
  display: flex;

  #search_input {
    padding: 30px;
    height: 50px;
    max-width: 400px;
    font-size: 3rem;
    margin: auto 0;
  }
}
